@mixin button {
    background-color: #20b2aa;
    padding: 13px 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s;
    &:hover {
        background-color: transparent;
        border: 2px solid #20b2aa;
        cursor: pointer;
            }
}